@page "/"

<div class="control_wrapper">
    <SfMultiSelect TValue="string[]" TItem="EmployeeDataModel" Placeholder="Select a name"
                   DataSource="@EmployeeData" PopupHeight="350px" PopupWidth="250px">
        <MultiSelectFieldSettings Text="Name" Value="ID"></MultiSelectFieldSettings>
        <MultiSelectTemplates TItem="EmployeeDataModel">
            <ItemTemplate>
                <div class="list-wrapper">
                    <img class="empImage" src="images/employee/@((context as EmployeeDataModel).Image).png"
                         alt="employee" />
                    <div class="ename"> @((context as EmployeeDataModel).Name)</div>
                </div>
            </ItemTemplate>
            <HeaderTemplate>
                <div class="header">
                    <span>Photo</span>
                    <span class="info">Employee Name</span>
                </div>
            </HeaderTemplate>
            <FooterTemplate>
                <div class="footer">
                    <span>Total list items: 8 </span>
                </div>
            </FooterTemplate>
            <ValueTemplate>
                <div>
                    <img class="value" height="23" width="23" src="images/employee/@((context as EmployeeDataModel).Image).png"
                         alt="employee" />
                    <div class="name">@((context as EmployeeDataModel).Name)</div>
                </div>
            </ValueTemplate>
            @*<NoRecordsTemplate>
                <div>
                    <span>No Data Available</span>
                </div>
            </NoRecordsTemplate>*@
        </MultiSelectTemplates>
    </SfMultiSelect>
</div>

@code {

    public class EmployeeDataModel
    {
        public string Name { get; set; }
        public string ID { get; set; }
        public string Image { get; set; }
    }
    List<EmployeeDataModel> EmployeeData = new List<EmployeeDataModel>
{
        new EmployeeDataModel() { Name = "Andrew Fuller", ID="Employee 1", Image= "E1" },
        new EmployeeDataModel() { Name = "Anne Dodsworth", ID="Employee 2",  Image= "E2" },
        new EmployeeDataModel() { Name = "Janet Leverling", ID="Employee 3",  Image= "E3" },
        new EmployeeDataModel() { Name = "Laura Callahan", ID="Employee 4",  Image= "E4" },
        new EmployeeDataModel() { Name = "Margaret", ID="Employee 5",  Image= "E5" },
        new EmployeeDataModel() { Name = "Michael Suyama", ID="Employee 6",  Image= "E6" },
        new EmployeeDataModel() { Name = "Nancy Davolio", ID="Employee 7",  Image= "E7" },
        new EmployeeDataModel() { Name = "Robert King", ID="Employee 8",  Image= "E8" }
    };
}






<style>
    .control_wrapper {
        width: 250px;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .name {
        padding: 3px 27px;
        opacity: .87;
        line-height: 1.5em;
        margin-top: 1px;
    }

    .value {
        border-radius: 50%;
        float: left;
        margin-top: 2px;
        position: relative;
        height: 20px;
        width: 20px;
    }

    .footer {
        text-indent: 1.2em;
        display: block;
        font-size: 15px;
        line-height: 40px;
        border-top: 1px solid #e0e0e0;
    }

    .header {
        font-weight: 600;
        height: 48px;
        padding: 15px 0 0 16px;
        font-size: 16px;
        background-color: #f5f5f5;
        font-family: "Segoe UI", "GeezaPro", "DejaVu Serif";
    }

    .info {
        margin-left: 17px;
    }

    .list-wrapper {
        height: inherit;
        position: relative;
        padding: 14px 12px 14px 78px;
    }

    .list-wrapper .ename {
            display: block;
            margin: 0;
            padding-bottom: 1px;
            white-space: normal;
            font-size: 13px;
    }

    .list-wrapper .empImage {
            position: absolute;
            left: 5px;
            background-color: transparent;
            font-size: 22px;
            top: calc(50% - 25px);
        }
</style>
